<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="o-container__header">
      <div class="c-header__text">
        <h1>OWEN SMITH</h1>
        <h2>DEVELOPMENT BLOG</h2>
      </div>
    </div>
    <h1>Welcome to onsmooth dev blog, <%= @user.name %></h1>
    <p>
      You have successfully signed up to onsmooth.co.uk,
      your username is: <%= @user.name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:
        <%= link_to "Home", root_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

      <%= image_tag "type_1.png" %>
  </body>
</html>
