<div class="card">
  <h5 class="card-header">
    <%= @article.title %>
  </h5>
  <div class="card-body">
    <p class="card-text">
      <%= simple_format @article.text %>
    </p>
    <%= link_to "Edit", edit_admin_article_path(@article) %> |
    <%= link_to "Back", admin_path %>
  </div>
</div>
