<div class="c-article">
  <h1 class="c-article__title">
    <%= @article.title %>
  </h1>
  <div class="c-article__text">
    <p>
      <%= simple_format @article.text %>
    </p>
  </div>
  <%= link_to "Back", articles_path %> >
</div>
<div class="c-article__disqus" id="disqus_thread"></div>
<script>
(function() { // DON"T EDIT BELOW THIS LINE
var d = document, s = d.createElement("script");
s.src = "https://onsmith.disqus.com/embed.js";
s.setAttribute("data-timestamp", +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
