<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="o-container__header">
      <div class="c-header__text">
        <h1>OWEN SMITH</h1>
        <h2>DEVELOPMENT BLOG</h2>
      </div>
    </div>
    <h1>New Blog Post!</h1>
    <p>
      Hi, a new article has been posted,
      Visit <%= link_to "Home", root_url %> to view the latest post.<br>
    </p>
    <p>Thanks for looking and have a great day!</p>

      <%= image_tag "type_1.png" %>
  </body>
</html>
