<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="o-container__header">
      <div class="c-header__text">
        <h1>OWEN SMITH</h1>
        <h2>DEVELOPMENT BLOG</h2>
      </div>
    </div>
    <p>Hi, you are now signed up for email notifications!<br></p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
