.o-container {
  background-color: colour(background);
  height: 100%;

  &_header {
    height: 200px;
    background-color: white;
  }

  &_nav {
    background-color: white;
    height: 40px;
  }

  &_content {
    width: 100%;
    margin: 0 auto;

    h1,
    h2 {
        margin: 10px 0;
    }
  }

  &__article-hero {
    position: relative;
    height: 250px;
    width: 900px;
    overflow: hidden;
    border-radius: 4px;
  }
}
