.o-container {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  &__header {
    height: 200px;
    background-color: white;
  }

  &__nav {
    background-color: white;
    height: 40px;

    &-logo {
      background-image: url('/assets/logo-mobile.svg');
      background-repeat: no-repeat;
      width: 80px;
      height: 35px;
      margin: auto;
      padding-top: 5px;
    }
  }

  &__content {
    margin: 0 auto;
    height: 100%;
    width: 80%;

    h1,
    h2 {
        margin: 10px 0;
    }
  }

  &__article-hero {
    position: relative;
    height: 250px;
    width: 455px;
    overflow: hidden;
  }

  &__footer {
    height: 180px;
    background-color: colour(dark-grey);
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .o-container__article-hero {
    display: none;
  }
}
