$base-spacing-unit: 20px;
$base-transition: ease-in-out 0.3s all;

$input-base-spacing: 9px;
$input-base-radius: 3px;
$input-border-width: 2px;
$input-chevron-size: 24px;


.c-comments {
  display: block;
  background-color: colour(dark-grey);
  width: 100%;
  color: white;

  h2 {
    padding: 20px;
  }

  &__form {
    text-align: center;
    padding: $input-base-spacing $input-base-spacing*2;
    margin-right: $base-spacing-unit;
    border-radius: $input-base-radius;
    transition: $base-transition;
  }

  &__text {
    margin: 20px;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__commenter {
    display: block;
    margin: 5px;

    span {
      color: colour(light-grey);
    }
  }

  &__body {
    margin: 5px;
    display: block;

    span {
      color: colour(light-grey);
    }
  }

  &__seperate {
    border-bottom: 2px solid white;
    width: 90%;
    margin: auto;
  }
}
