.c-notification {
  &__errors {
    border: 1px solid #ff1d1d;
    background-color: #fdc6c6;
    border-radius: 3px;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 28.5%;
  }
}