<div class='c-about'>
    <div class='c-about__title'>
        <h1> ABOUT ME </h1>
    </div>
    <div class='c-about__image'>
      <%= image_tag('me') %>
    </div>
    <div class='c-about__content'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis turpis et ligula porttitor, vel molestie sapien rutrum. Vestibulum tempor ornare lacinia. Nulla a ante lectus. Duis tempor efficitur tortor, eu congue nisi molestie porttitor. Phasellus vitae est mauris. Integer gravida, velit in vestibulum sagittis, erat metus fermentum augue, eget consectetur leo lacus nec ligula. Proin blandit mauris eget urna molestie pellentesque. Donec rutrum, odio eget ullamcorper egestas, ligula purus interdum odio, id sagittis velit felis vitae lectus. Curabitur tristique nec libero eu sodales. Etiam congue ut nunc in gravida.</p>

<p>Vestibulum et est augue. Duis a urna maximus, vestibulum diam ut, aliquam nunc. Nam sed enim maximus, pharetra odio at, bibendum arcu. Donec nec dolor sapien. Aenean eu cursus diam, vel laoreet lectus. Morbi pharetra diam augue, non consectetur tellus feugiat ut. Nunc ornare fringilla ligula vitae mattis. Nunc euismod lobortis felis vel porttitor.</p>

<p>Vivamus sollicitudin nulla sit amet lectus mollis consectetur vel nec quam. Nunc vel tempus lectus. Aenean nec purus et mauris rutrum auctor dictum quis urna. Cras sit amet mattis augue. Integer sit amet ipsum sollicitudin, blandit ex nec, finibus nisl. Donec ultricies libero tellus, ornare ultricies lacus vulputate quis. Duis a nibh fermentum eros dignissim pharetra quis non sem. Morbi eu leo et lorem rhoncus fermentum. Etiam suscipit lobortis neque, et iaculis purus facilisis ut. Etiam vehicula ac augue eget accumsan. Aenean dapibus neque lectus, in maximus nulla accumsan eu. In hac habitasse platea dictumst.</p>

<p>Fusce quis risus mi. Etiam id ornare nibh. Nunc scelerisque nisi vel porta lacinia. Phasellus tristique tortor urna, tincidunt fermentum ligula semper eu. Praesent bibendum magna ligula. Duis ultrices sapien et massa finibus pretium. Vivamus leo libero, cursus maximus sollicitudin vitae, feugiat nec odio. Pellentesque sodales eleifend leo, in ultrices ante vestibulum in. Nullam nec lobortis magna. Duis lobortis risus vitae turpis interdum facilisis. Proin et leo mattis, tempus quam in, ullamcorper sem. Donec ornare enim at dapibus sodales. Quisque lobortis eget ante quis hendrerit. Morbi posuere ante eget gravida viverra. Nunc luctus lacus ac pharetra finibus. Mauris dapibus sollicitudin feugiat.</p>

<p>Integer ultrices odio eget odio pulvinar accumsan. Maecenas id scelerisque dui, sit amet efficitur mi. Sed hendrerit vitae purus id posuere. In suscipit maximus commodo. Cras porta, nisi nec venenatis sagittis, dolor justo porta erat, a bibendum nibh ligula et orci. In faucibus turpis id quam congue hendrerit. Sed sollicitudin at dolor ac volutpat. Curabitur sit amet tincidunt turpis, sed aliquam nisl. Nulla dui tortor, laoreet quis ex non, porta bibendum urna. Quisque purus augue, lobortis eget diam sed, tempor pharetra sem. Aliquam sit amet ultrices ex. Praesent lobortis semper eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet massa sed nisi condimentum dapibus.</p>
    </div>
</div>
