<div class="c-admin__articles  border  rounded">
  <h1>USERS</h1>
  <%= link_to "New article", new_admin_article_path, class: "btn btn-primary c-admin__button" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
