<div class="o-container__footer">
  <div class="c-footer">
    <div class="c-footer__form">
      <h3 class="c-footer__form-header">Sign up for email notifications</h3>
      <%= form_for :notification, url: notifications_path do |form| %>
        <span>
          <%= form.text_field :email, placeholder: "Enter email", class: "c-footer__form-input" %>
        </span>
        <span>
          <%= form.submit "",  class: "c-footer__form-submit" %>
        </span>
      <% end %>
    </div>
  </div>
</div>
