<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {text-align: center; background-color: #F2F2F2; font-family: "Roboto";}
      body h1 {text-transform: uppercase;}
      .c-header__text {padding: 50px; text-align: center;}
      .c-header__text h1 {color: #474747; font-size: 64px; font-weight: 500; padding: 0; margin: 0;}
      .c-header__text h2 {color: #ABABAB; font-size: 40px; font-weight: 500; padding: 0; margin: 0;}
      .o-container__header {height: 200px; background-color: white;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
